<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/723c732a67.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flick Play</title>
    <link rel="stylesheet" href="../Styles/Home.css">
</head>
<body>
    <Section>
        <nav class="navBg navbar navbar-expand-lg navbar-dark">
            <a class="BrandName navbar-brand" href="#">
                <span class="flickPlay">
                    <i class=" fas fa-compact-disc"></i> Flick
                </span> Play
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navElements navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#facts">Facts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                </ul>
            </div>
        </nav>
    </Section>

    <section id="hero">
        <div class="hero-container" data-aos="zoom-in" data-aos-delay="100">
          <h1>Welcome to Flick Play</h1>
          <h2>Watch Your Favraite Movies Anywhere Anytime</h2>
          <a href="/Login" class="btn-get-started">Register</a>
        </div>
    </section>

    <section id="about">
        <div class="container" data-aos="fade-up">
        <div class="row about-container">
          <div class="col-lg-6 content order-lg-1 order-2">
            <h2 class="title">Few Words About Us</h2>
            <p>
            With our membership, you have access to the latest and exclusive Bollywood and regional blockbusters 
            such as Raazi and Goodachari, and Hollywood movies like Jumanji: Welcome to the Jungle. You can also get stuck 
            into US TV shows like Young Sheldon, and exclusive access to Prime Original Series Comicstaan, Breathe and Inside Edge.
            </p>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="fas fa-video"></i></div>
              <h4 class="title"><a href="">Great Entertainment</a></h4>
              <p class="description">With our membership, you have access to exclusive Flick Originals, blockbuster Bollywood movies, 
              regional movies and more.</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="fas fa-crown"></i></div>
              <h4 class="title"><a href="">One membership, many benefits</a></h4>
              <p class="description">Your membership now also includes ad-free music along with unlimited free, fast delivery on eligible items,
               exclusive access to deals & more.</p>
            </div>
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="fas fa-american-sign-language-interpreting"></i></div>
              <h4 class="title"><a href="">Family Friendly</a></h4>
              <p class="description">With easy to use Parental Controls and a dedicated kids page, enjoy secure, ad-free kids entertainment. 
              Kids can enjoy popular TV shows like Peppa Pig, Powerpuff Girls, and Chhota Bheem.</p>
            </div>
          </div>
          <div class="col-lg-6 background order-lg-2 order-1" data-aos="fade-left" data-aos-delay="100"></div>
        </div>
      </div>
    </section>

    <section id="services">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Services</h3>
            <p class="section-description">Our Focus is to provide great user experience</p>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href="#"><i class="fa fa-desktop"></i></a></div>
                <h4 class="title"><a href="#">Watch anywhere</a></h4>
                <p class="description">Enjoy from the web or with the Prime Video app on your phone, tablet, 
                or select Smart TVs — on up to 3 devices at once.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href="#"><i class="fa fa-bar-chart"></i></a></div>
                <h4 class="title"><a href="#">Download and go</a></h4>
                <p class="description">Watch offline on the Prime Video app when you download titles to your iPhone, iPad, Tablet, or Android device.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="zoom-in">
              <div class="box">
                <div class="icon"><a href="#"><i class="fa fa-paper-plane"></i></a></div>
                <h4 class="title"><a href="#">Data Saver</a></h4>
                <p class="description">Control data usage while downloading and watching videos on select phones or tablets.</p>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section id="facts">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h3 class="section-title">Facts</h3>
            <p class="section-description">Enjoy from the web on your phone, tablets, and personal computers</p>
          </div>
          <div class="row counters">
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">300+</span>
              <p>Users</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2000+</span>
              <p>Movies</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">24/7</span>
              <p>Support</p>
            </div>
            <div class="col-lg-3 col-6 text-center">
              <span data-toggle="counter-up">2</span>
              <p>Hard Workers</p>
            </div>
          </div>
        </div>
    </section>

    <section id="reviews">
        <div class="review container mt-5">
            <div id="testimonial_095" class="carousel slide testimonial_095_indicators testimonial_095_control_button thumb_scroll_x swipe_x ps_easeOutSine" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">
                    <div class="testimonial_095_header">
                        <h5>what people<span>say</span></h5>
                    </div>     
                    <ol class="carousel-indicators">
                        <li data-target="#testimonial_095" data-slide-to="0" class="active"></li>
                        <li data-target="#testimonial_095" data-slide-to="1"></li>
                        <li data-target="#testimonial_095" data-slide-to="2"></li>
                    </ol> 
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="testimonial_095_slide"> <a href="#"><i class="fas fa-user"></i></a>
                                <p>As great as it can be, The Witches lacks the best world-building and depth of some
                                     other Dahl material, and Zemeckis can’t quite figure out how to make this story richer.</p>
                                <h5><a href="#">XOCO</a></h5>
                            </div> 
                        </div>             
                        <div class="carousel-item">
                            <div class="testimonial_095_slide"> <a href="#"><i class="far fa-user-circle"></i></a>
                                <p>A feature on the lasting power of Charles Laughton's Night of the Hunter and what it says about dangerous reflections of faith, then and now.</p>
                                <h5><a href="#">Abby Olcese</a></h5>
                            </div> 
                        </div> 
                        <div class="carousel-item">
                            <div class="testimonial_095_slide"> <a href="#"><i class="fas fa-user"></i></a>
                            <p>Brian Tallerico is the Editor of RogerEbert.com, and also covers television, film, Blu-ray, and video games. He is also a writer for Vulture, The Playlist, 
                                The New York Times, and Rolling Stone, and the President of the Chicago Film Critics Association.</p>
                            <h5><a href="#">Brian Tallerico</a></h5>
                        </div> 
                    </div>
                </div> 
                <a class="carousel-control-prev" href="#testimonial_095" data-slide="prev"> <span class="fa fa-chevron-left"></span> </a> 
                <a class="carousel-control-next" href="#testimonial_095" data-slide="next"> <span class="fa fa-chevron-right"></span> </a>
            </div>
        </div>
    </section>

    <footer id="footer">
        <div className="footer-top">
            <div className="container">

            </div>
        </div>

        <div className="container">
            <div className="copyright">
            &copy; Copyright <strong>FlickPlay</strong>. All Rights Reserved
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    
</body>
</html>