
body,
html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
  background-color: #1a1a2e;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.navBg{
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: #000;
}
.BrandName{
    margin-left: 5%;
    padding: 1%;
}
.flickPlay {
  color: red;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../Images/BlackWidow.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.masthead h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
  padding: 0;
  color: #fff;
}
.masthead .mb-5 em{
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}


/* Movies Section */
#Movies{
  margin-top: 3%;
}
.Container{
  margin: 0 2% 0 3%;
}
.Movies img{
  margin-right: 1%;
  margin-bottom: 10%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 #000;
  transition: 0.8s;
}
.Movies img:hover{
  transform: translateY(-10px);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.Container h2{
  margin-bottom: 3%;
  color: #f3e6e3;
}

/* footer section */

#footer{
  background-color:#020314;
  padding: 2% 15%;
  color: #fff;
  text-align: center;
}
.social-icon{
  margin: 20px 10px;
}